{{- if .Values.serverless.enabled -}}
apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: {{ .Chart.Name }}-serverless
  labels:
    team: devops
    app: {{ .Chart.Name }}
spec:
  template:
    metadata:
      labels:
        team: devops
        app: {{ .Chart.Name }}
    spec:
      containers:
        - image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 5000
          env:
            {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
{{- end -}}