grafana:
  adminPassword: "admin"
  sidecar:
    datasources:
      enabled: true
      defaultDatasourceEnabled: true
  additionalDataSources:
    - name: Loki
      type: loki
      uid: loki
      url: http://loki.monitoring.svc.cluster.local:3100
      access: proxy
      jsonData:
        derivedFields:
          - datasourceUid: tempo
            matcherRegex: "TraceID: (\\w+)"
            name: TraceID
            url: "$${__value.raw}"

    - name: Tempo
      type: tempo
      uid: tempo
      url: http://tempo.monitoring.svc.cluster.local:3100
      access: proxy
      jsonData:
        tracesToLogsV2:
          datasourceUid: 'loki'
          tags: ['job', 'instance', 'pod', 'namespace']

prometheus:
  prometheusSpec:
    scrapeInterval: "15s"
prometheusOperator:
  admissionWebhooks:
    enabled: false
    patch:
      enabled: false
  tls:
    enabled: false
